.heading{
font-size: 25px;
width: 100%;
}
#note{
font-size: 18px;
}
body{
background-image: url(background.jpg);
background-size: cover;

}
.speed{
float: left;
}
.div_speedimg,.div_volumeimg{
width: 200px;
border-radius: 100px;
}
#speed,.volume{
font-size: 24px;
margin:15px;
}
.volume{
float: right;
}
#play,#stop{
    font-size: 25px;
    width:12%;
}
canvas{
border-radius: 20px;
border-color: azure;
border: 5px solid white;
}